ravixfs.com {
	root * /opt/ravixfs/landing
	file_server
}

prod-pick5f.ravixfs.com {
	reverse_proxy localhost:8000
}

www.ravixfs.com {
	redir https://ravixfs.com{uri} permanent
}

staging.ravixfs.com {
	reverse_proxy localhost:8001
}
