ravixfs.com {
	reverse_proxy localhost:8000
}

www.ravixfs.com {
	redir https://ravixfs.com{uri} permanent
}

staging.ravixfs.com {
	reverse_proxy localhost:8001
}

staging-footballpool.ravixfs.com {
	reverse_proxy localhost:8002
}
