ravixfs.com {
	root * /opt/ravixfs/landing
	file_server
}

prod-prime5f.ravixfs.com, prod-pick5f.ravixfs.com {
	reverse_proxy localhost:8000
}

www.ravixfs.com {
	redir https://ravixfs.com{uri} permanent
}

staging.ravixfs.com {
	reverse_proxy localhost:8001
}

playprime5.com, www.playprime5.com {
	redir https://ravixfs.com{uri} permanent
}
